    /** ${DESCRIPTION} */
class ${INTERFACE_NAME}Impl : ${INTERFACE_NAME} {
    @AppFunction(isDescribedByKDoc = true)
    override fun ${FUNCTION_NAME}(
        appFunctionContext: AppFunctionContext${PARAMETERS}
    ): String {
        return AppFunctionBridge.invoke(
            appFunctionContext.context,
            "${FUNCTION_NAME}"${PARAMS_MAP}
        )
    }
}
