/** ${DESCRIPTION} */
@AppFunctionSchemaDefinition(name = "${FUNCTION_NAME}", version = 1, category = "${CATEGORY}")
interface ${INTERFACE_NAME} {
${KDOC}    suspend fun ${FUNCTION_NAME}(appFunctionContext: AppFunctionContext${PARAMETERS}): String
}
